body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial;
}

.user-name {
    font-size: 16px;
    text-align: right;
}

.images {
    float: right;
    margin-right: 12px;
    background-position: center;
}

.image-pad {
    margin-top: 14px;
}

.options {
    margin-left: 2.5px;
    font-size: 12px;

    color: black;
}

.options li {
    display: inline;
    font-size: 12px;

}




.webName {
    width: 222px;
    float: left;
}

.bot-left {
    margin-top: 5px;
}

.list-items {
    font-size: 11px;
}

.nav-text {
    width: 140px;
    float: left;
}

.list-item-specific {
    background-color: #f5f5f5;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 4px;
    color: #292929;
}







a {
    text-decoration: none
}

.bottom-nav-ul a {
    color: black;

}

.description a {
    color: skyblue;
}

.content-header {
    border: 0px;
    font-size: 14px;
    line-height: 14px;
    color: #000;
}

.content-header a {
    color: #000;
}



.rightContent a,
.list-items a {
    color: #000;
}


.header-notification li {
    cursor: pointer;
}

.bottom-nav-ul li {
    cursor: pointer;

}

.top-nav-li {
    cursor: pointer;
}







ul {
    list-style: none;
}



.input {
    background-repeat: no-repeat;
    width: 268px;
    height: 20px;
    padding-left: 5px;
    padding-right: 4px;
    font-size: 10px;
    float: left;
    background: url('../images/search_input.png');
    background-color: transparent;
    border: 0;
}




.entries {
    padding: 0px;
    margin-bottom: 5px;
    border: 0px;
    line-height: 27px;
    font-size: 27px;
}

.button {
    padding: 3px 5px 4px 4px;
    background-repeat: no-repeat;
    width: 53px;

    height: 20px;
    float: right;
    font-size: 10px;
    background: url('../images/search_button.png');
    background-color: transparent;
    color: #fff;
    border: none;
}


.options {
    float: left;
}

.author-name {
    color: skyblue
}

.source-movies {
    color: skyblue
}

.notice {
    color: skyblue;
    font-size: 10px;
    line-height: 10px;
}



.details4 h3 {
    margin-top: 8px;
}

.details4 span {
    line-height: 5px;
}

.notice-urgent {
    color: red;
    font-size: 10px;
    line-height: 10px;
}

.subscribed a {
    color: green;
}



.notification-inactive {
    color: gray
}

.bottom-li1 {
    padding-left: 28px;
    color: #fff;
}

.bottom-li2 {
    padding-left: 42px;
    color: #474747;
}

.bottom-li3 {
    padding-left: 54px;
    color: #474747;
}

.bottom-li4 {
    padding-left: 21px;
    color: #474747;
}

/* main container part*/
.bottom-nav-ul {
    display: flex;
    width: 493px;

    float: left;
    margin-left: 8px;

}

.bottom-nav-ul-bot {
    line-height: 21px;
    width: 693px;
    display: flex;
}

.top-nav-ul {
    display: flex;
}

.top-nav-li {
    padding: 2px;
    margin: 2px;
}

.bottom-nav-ul-bot li {
    margin-right: 30px;
    font-size: 12px;
}

.bottomNavList {
    margin-right: 28px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.options a {
    color: black;
}

.profile-image {
    position: relative;
    top: 0;
    left: 0;
}

.profile {
    position: relative;
    padding-top: 7px;
    top: 0;
    left: 0;
}

.profile1 {
    position: relative;

    top: 0;
    left: 0;
}

.round-frame {
    position: absolute;
    top: 0;
    padding-top: 7px;
    left: 0;
}

.round-frame1 {
    position: absolute;
    top: 0;
    left: 0;
}

.bottomNavListLast {
    margin-right: 0px;
}




.tab-li1 {
    font-size: 14px;
    margin-left: 94px;
    color: #474747;
    line-height: 37px;
}

.tab-li2 {
    font-size: 14px;
    margin-left: 189px;
    color: #474747;
    line-height: 37px;
}



.profileInfo {
    width: 518px;
    margin-top: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
    width: 518px;
}

.profileInfoTop {
    width: 518px;
    margin-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
    width: 518px;
}

.navigation-header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    font-size: 16x;
    background-color: skyblue;
    color: #fff;
}

img {
    float: left
}




.footer-left li {
    float: left;
    list-style: none;
}



.footer-left li:last-child:after {
    content: "";
    padding-right: 0px;
}
body {
    width: auto;
}

.header {
    background-color: skyblue;
    margin-bottom: 31px;
    min-width: 1002px;
    width: auto;
}

.sub-header1 {
    width: auto;
    min-width: 1002px;
}

.headerMain {
    width: 939px;
    margin: 20px auto 16px auto;
}

.logoLeft {
    width: 582px;
    float: left;
}

.userPanel {
    float: right;
    margin-top: 4px;
    font-size: 10px;
}

.input-search {
    margin-top:34px;
    width: 336px;
    float: right;
}

.sub-header {
    background-color: #f5f5f5;
    width: auto;
    font-family: Arial;
    min-width: 1002px;
}

.wrapperSubHeader {
    width: 939px;
    margin: 0 auto;
}

.header-notification {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.notification-content-lt {
    padding-left: 19px;
    font-size: 12px;
    width: 122px;
    float: left;
}

.notification-content-rt {
    width: 109px;
    padding-left: 21px;
    font-size: 12px;
    float: right;
}

.notification-active {
    color: #000;
}

.notification-active-box {
    background-image: url("../images/tbi-blue.png");
    background-repeat: no-repeat;
    background-position: left;
}

.notification-active-friend {
    background-image: url("../images/tbi-bw.png");
    background-repeat: no-repeat;
    background-position: left;
}

.notification-inactive-friend {
    background-image: url("../images/friend-bw.png");
    background-repeat: no-repeat;
    background-position: left;
}

.notification-inactive-box {
    background-image: url("../images/tbi-bw.png");
    background-repeat: no-repeat;
    background-position: left;
}

.leftBar {
    width: 195px;
    float: left;
}


.mainBody {
    padding-left: 30px;
    padding-right: 20px;
    float: right;
    width: 510px;
}

.main-container {
    min-width: 1002px;
}

.mainContainerMargin {
    width: 939px;
    background-image: url('../images/body-bg.png');
    margin: 0 auto;
    background-position: center
}

.leftContent {
    float: left;
}

.navBar {

    background-image: url('../images/tab-top.png');
    background-position: center
}

.description {
    margin-left: 6px;
    float: left;
}

.content {
    font-size: 11px;
    color: #616161;
}

.rightContent {
    float: right;
    width: 177px
}

.footer-container {
    width: auto;
    margin-top: 25px;
    min-width: 1002px;
    background-color: #727272;
}

.footer {
    font-size: 9px;
    width: 939px;
    margin: 0 auto;
    color: #fff;

    padding-top: 21px;
    padding-bottom: 14px;
}

.footer-left {
    float: left;
    margin-left: 5px;
}

.footer-right {
    float: right;
    font-size: 9px;
}

.footer-list {
    background: #727272;
    width: 324px;
    float: left;
    font-size: 10px;
    color: #fff;
}

.footer-copyright {
    background: #727272;
    width: 74px;
    float: right;
    font-family: arial;
    font-size: 8px;
    color: #fff;
}
