.headerBar {
  width: auto;
  background-color: #f5f5f4;
  padding-top: 25px;
  padding-right: 82px;
  padding-left: 90px;
  padding-bottom: 17px;
}

.topMenus {
  float: right;
  text-decoration: none;
}

.li-elements {
  list-style-type: none;
}
li {
  display: inline-block;
  
}
li a {
  text-decoration: none;
  color: #5d676e;
}

.searchbar{
  
  display:inline-block; 
}

.middlemenu{
  display: inline-block;
  
}

.logo{
  display:inline-block;
}

.searchbar{
  padding-left: 42px;    
  
}






